# Configurações Pessoais
config.ini
.env
auth/

# Dados e Logs
data/
!data/extract_unique_metadata.py
logs/
downloads/
temp/
tmp/
progresso/
debug/
dataset/*.json

# Python Cache
__pycache__/
.pycache/
*.pyc
.nox/
venv/

# macOS
.DS_Store
